.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
}

.center-text {
    text-align: center;
}

.placeholder {
    color: gray;
    opacity: 0.5;
}

.bold {
    font-weight: bold;
}

.dashed {
    border: dashed;
}