<section>
  @if(items().length){
    <p class="center-text">Il y a {{ toDoCount }} item(s) dans la liste</p>
    <p class="center-text">Il y a {{ itemsCount() }} item(s) avec plus de 3 mots</p>
  }
  @else {
    <p class="center-text placeholder">Il n'y a pas d'items dans la liste</p>
  }
  <p class="center-text">Choses à faire :</p>
  @for(item of items(); track item.id; let idx = $index; let odd = $odd;){
    <app-todo-item class="container"
      [ngClass]="{bold: odd, dashed: $even}"
      [ngStyle]="{backgroundColor: odd ? '#29cc29' : '#ffffff'}"
      [toDoItem]="item"
      [index]="idx+1"
      (itemClicked)="deleteItem($event)"
    ></app-todo-item>
  }
  @empty {
    <p class="center-text placeholder">Entrez un nouvel item pour créer la liste</p>}
</section>
