<div class="flex-parent">
  <div class="main-container">
    <h1>TODO List Avec Service</h1>
    <p>Intéraction entre Components à travers un Service partagé</p>
    <p>L'hiérarchie directe n'est pas obligatoire</p>
    <app-todo-input></app-todo-input>
    <app-todo-item-list></app-todo-item-list>
  </div>
  <app-history></app-history>
</div>