.main-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.flex-parent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}